<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro IMC</title>
    <!-- meu css -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- w3css -->

</head>

<body id="fundo">
    <div>
        <!-- <img id="topo" src="images/imcGrafico.png"> -->
    </div>
    <div>

        <form method="post" action="calculoImc.html" class="center">
            <p>
                Preencha os campos do formulário de cadastro para prosseguir.
            </p>
            <table>
                <tr>
                    <td> Login: </td>
                    <td> <input type="text" name="loginEntra" required placeholder="digite seu login"> </td>
                </tr>
                <tr>
                    <td> Senha: </td>
                    <td> <input type="password" name="senhaEntra" required placeholder="digite uma senha"> </td>
                </tr>
                <tr>
                    <td> <input type="reset" value="Limpar"> </td>
                    <td> <input type="submit" value="Entrar"> </td>
                    <td> <button><a href="cadastro.html">Não possuo cadastro</a></button></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>